<div class="container mt-5 mb-5">
    <h1 style="font-weight: bold;">Contact</h1>
    <form class="col-lg-8">
        <div class="row">
            <div class="col-lg-6 mt-2">
                <input type="text" placeholder="Enter First Name" class="form-control">
            </div>
            <div class="col-lg-6 mt-2">
                <input type="text" placeholder="Enter Last Name" class="form-control">
            </div>
            <div class="col-lg-12 mt-2">
                <input type="text" placeholder="Enter Mobile Phone" class="form-control">
            </div>
            <div class="col-lg-12 mt-2">
                <input type="email" placeholder="Enter Your Email ID" class="form-control">
            </div>
            <div class="col-lg-6">
                <button type="submit" class="btn btn-md btn-dark mb-3 mt-3">Submit</button>
            </div>
        </div>
    </form>
</div>