<div class="container mt-5 mb5">
    
    <h1 class="text-center">About</h1>
    <p>
        We offer a varied fleet of cars, ranging from the compact Toyota Yaris to the 8-seater VW Multivan. All our vehicles have air conditioning,  power steering, electric windows. All our vehicles are bought and maintained at official dealerships only. Automatic transmission cars are available in every booking class.
    </p>
        <br>
        <span>
            <p>
            Why choose us?
        </p>

       <ul>
           <li> If you want to book directly through a supplier, and not through a broker – <b>Car-Rental</b></li>
           <li>this will give you better flexibility in terms of vehicle choices;</li>
           <li>vehicle make and model will be confirmed, and not “similar” to those you selected;</li>
           <li> you can directly negotiate some of the terms and conditions, payment options, especially if you require unique or long term rental service;</li>
           <li>you can book “commission free”;</li>
           <li> you can reach us 24/7 on our mobile numbers;</li>
           <li> you can call us free from the “Free call” service on our website;</li>
       </ul>
        </span>
        <br>
    

</div>
